<template>
    <div class="admin d-flex">
        <v-card class="drawer" width="200" >
            <v-navigation-drawer absolute class="grey darken-1" dark permanent right>
                <v-list-item>
                    <v-list-item-content>
                    <v-list-item-title class="title">
                        Sigshop
                    </v-list-item-title>
                    <v-list-item-subtitle>
                        Admin
                    </v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>

                <v-divider></v-divider>

                <v-list dense nav >
                    <v-list-item link @click="getShops()">
                        <v-list-item-icon>
                            <v-icon>mdi-cart-arrow-down</v-icon>
                        </v-list-item-icon>
                        <v-list-item-content>
                            <v-list-item-title>Compras</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                    <v-list-item link @click="getSessions()">
                        <v-list-item-icon>
                            <v-icon>mdi-account-group</v-icon>
                        </v-list-item-icon>
                        <v-list-item-content>
                            <v-list-item-title>Sesiones</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                    <v-list-item link @click="getRegister()">
                        <v-list-item-icon>
                            <v-icon>mdi-account-multiple-plus</v-icon>
                        </v-list-item-icon>
                        <v-list-item-content>
                            <v-list-item-title>Registros</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </v-list>
                <template v-slot:append>
                    <div class="pa-2">
                        <v-btn block @click="logout()">SALIR</v-btn>
                    </div>
                </template>
            </v-navigation-drawer>
        </v-card>
        <v-content>
            <v-container v-if="page===0">
                <v-row>
                    <v-col>
                        <h2>SIGSHOP HISTORIAL</h2>
                    </v-col>
                </v-row>
            </v-container>
            <v-container v-if="page===1">
                <v-row>
                    <v-col>
                        <h2>Historial de Compras</h2>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col>
                        <v-expansion-panels>
                            <v-expansion-panel v-for="item in shop" :key="item._id" >
                            <v-expansion-panel-header>
                                <h5 class="teal--text">{{item.name}} {{item.lastname}} | Fecha de compra: {{item.shop_date.slice(0,10)}} | Total de compra: {{item.total}}</h5>
                            </v-expansion-panel-header>
                            <v-expansion-panel-content>
                                <v-simple-table>
                                    <template v-slot:default>
                                    <thead>
                                        <tr>
                                            <th class="text-center">Imagen</th>
                                            <th class="text-center">Producto</th>
                                            <th class="text-center">Cantidad</th>
                                            <th class="text-center">Precio</th>
                                            <th class="text-center">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="product in item.products" :key="product.id">
                                            <td class="d-flex justify-content-center align-items-center"><v-img :src="product.thumbnail" max-width="40" max-height="40"></v-img></td>
                                            <td>{{ product.title }}</td>
                                            <td>{{ product.amount }}</td>
                                            <td>{{ product.price }}</td>
                                            <td>{{ product.total }}</td>
                                        </tr>
                                    </tbody>
                                    </template>
                                </v-simple-table>
                            </v-expansion-panel-content>
                            </v-expansion-panel>
                        </v-expansion-panels>
                    </v-col>
                </v-row>
            </v-container>
            <v-container v-if="page===2">
                <v-row>
                    <v-col>
                        <h2>Historial de Sesiones</h2>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col>
                        <v-simple-table height="500px" fixed-header>
                            <template v-slot:default>
                            <thead>
                                <tr>
                                    <th class="text-center">ID de usuario</th>
                                    <th class="text-center">Email logeado</th>
                                    <th class="text-center">Fecha de ingreso</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="session in sessions" :key="session._id">
                                    <td>{{ session.userId }}</td>
                                    <td>{{ session.email }}</td>
                                    <td>{{ session.date }}</td>
                                </tr>
                            </tbody>
                            </template>
                        </v-simple-table>
                    </v-col>
                </v-row>
            </v-container>
            <v-container v-if="page===3">
                <v-row>
                    <v-col>
                        <h2>Historial de Registros</h2>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col>
                        <v-simple-table height="500px" fixed-header>
                            <template v-slot:default>
                            <thead>
                                <tr>
                                    <th class="text-center">ID de usuario</th>
                                    <th class="text-center">Email registrado</th>
                                    <th class="text-center">Fecha de registro</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="reg in register" :key="reg._id">
                                    <td>{{ reg.userId }}</td>
                                    <td>{{ reg.email }}</td>
                                    <td>{{ reg.date }}</td>
                                </tr>
                            </tbody>
                            </template>
                        </v-simple-table>
                    </v-col>
                </v-row>
            </v-container>
        </v-content>
    </div>
</template>

<script>

import { mapActions, mapState } from "vuex";

export default {
    data () {
      return {
        page: 0,
        shop: [],
        sessions: [],
        register: []
      }
    },
    computed: {
    ...mapState(["token","userDB"]),
    },
    methods: {
        ...mapActions(["logout"]),
        getShops(){
            this.page = 1;
            let config = {
                headers: {
                    token: this.token
                }
            };
            this.axios
                .get("/history/shop/all", config)
                .then(res=> {
                    this.shop = res.data;
                }).catch(e => {
                    console.log(e.response);
                });
        },
        getSessions(){
            this.page = 2;
            let config = {
                headers: {
                    token: this.token
                }
            };
            this.axios
                .get("/history/login/all", config)
                .then(res=> {
                    this.sessions = res.data;
                }).catch(e => {
                    console.log(e.response);
                });
        },
        getRegister(){
            this.page = 3;
            let config = {
                headers: {
                    token: this.token
                }
            };
            this.axios
                .get("/history/register/all", config)
                .then(res=> {
                    this.register = res.data;
                }).catch(e => {
                    console.log(e.response);
                });
        }
    }
}
</script>

<style>
    .admin{
        height: 100%;
    }
    .drawer{
        height: 100%;
    }
</style>